body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #4caf50;
    color: white;
    padding: 1em 0;
}

main {
    padding: 2em;
}

footer {
    background: #333;
    color: white;
    padding: 1em 0;
    margin-top: 2em;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

#start-mining {
    background-color: #4caf50;
    color: white;
    border: none;
}

#stop-mining {
    background-color: #f44336;
    color: white;
    border: none;
}
